@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #000000;
		--foreground: #ededed;
	}
}

div {
	@apply focus:outline-none;
}

div::-webkit-scrollbar {
	width: 0.2rem;
}

div::-webkit-scrollbar-track {
	/* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
}

div::-webkit-scrollbar-thumb {
	@apply bg-tokyo-night-comment outline-1 outline-tokyo-night-selection;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
