@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	opacity: 0;
}

html[data-theme="dark"],
html[data-theme="light"] {
	opacity: initial;
}

/* lexical editor doesn't handle nested lists properly so gotta use this: https://payloadcms.com/docs/rich-text/converters */
@layer payload-default {
	.nestedListItem,
	.list-check {
		list-style-type: none;
	}

	ul li.LexicalEditorTheme__listItem {
		list-style-type: disc;
	}

	ol li.LexicalEditorTheme__listItem {
		list-style-type: decimal;
	}
}

/* html.dark .shiki, */
/* html.dark .shiki span { */
/*   color: var(--shiki-dark) !important; */
/*   background-color: var(--shiki-dark-bg) !important; */
/*   /* Optional, if you also want font styles */
/*   font-style: var(--shiki-dark-font-style) !important; */
/*   font-weight: var(--shiki-dark-font-weight) !important; */
/*   text-decoration: var(--shiki-dark-text-decoration) !important; */
/* } */
